html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {

    margin: 0;
    padding: 0;
    border: 0;
        border-right-color: currentcolor;
        border-right-style: none;
        border-right-width: 0px;
        border-left-color: currentcolor;
        border-left-style: none;
        border-left-width: 0px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
} 

.clearfix::after {
  clear: both;
}

.clearfix {
  *zoom: 1; /* Für den IE6 und IE7 */
}
.hidden {
	visibility: hidden;w
}
html {
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   width: 100%;
}
.fa-down:before {
	conten: "\f354";
}
body {
	font-size: 16px;
	background-color: black;
	--accent-color: #00ccff;
	font-family: "Open Sans";
	
}
span.overline {
	font-size: 275%;
	opacity: 0.7;
}
span.highlight {
	color: var(--accent-color);
	opacity: 1;
}
h1 {
	font-size: 490%;
	line-height: 1.2;
	letter-spacing: 1px;
	font-weight: bolder;
	color: #00ccff;
}
span.h1.subheadline {
	font-size: 260%;
	opacity: 0.8;
	letter-spacing: 7px;
}

.trigger,
.overlay .closebtn  {
	top: 60px;
	right: 60px;
	position: fixed;
	padding: 20px 40px;
	font-size: 36px;
	color: black;
	background-color: #00ccff;
	border-radius: 25%;

}
.trigger:hover {
	color: white;
	cursor: pointer;
}
.overlay .closebtn {
	position: absolute;
	font-size: 49px;
}
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 0%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 1s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: absolute;
  top: 0%;
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
}
.overlay-content ul > li:nth-child(2) {
	margin-top: 135px; /* 25% from the top */
}
.overlay-content ul ul > li:nth-child(2) {
	margin-top: 0%;
}
/* The navigation links inside the overlay */
.overlay li,
.overlay li a {
  padding: 8px;
  text-decoration: none;
  font-size: 56px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}
.overlay-content ul ul > li,
.overlay-content ul ul > li a {
	font-size: 30px;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}


/* Position the close button (top right corner) */

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
main {
	padding: 0;
	margin: 0;
}

section {
	clear:both;
}
.marker {
	font-size: 50rem;
	position: absolute;
	top: -210px;
	line-height: 1;
	left: 40px;
	z-index: 12;
}

.steckbrief {
	color: white;
	margin: 196px 0 0 0;
}

.steckbrief img {
	width: 400px;
	margin: 40px 20px 20px 0px;
	float: left;
}
.steckbrief .me {
	max-width: 810px;
	margin: 0 auto;
}
.steckbrief .me .left {
	float: left;
}
.steckbrief .text {
	float: left;
	display:inline-block;
	margin: 46px 0 0 0px;
	font-size: 130%;
	line-height: 1.2;
}
.steckbrief .text span  {
	margin-top: 8px;
    display: inline-block;
	padding-left: 20px;
	position: relative;
}
.steckbrief .text span:before {
	content: "";
	background-color: white;
	width: 8px;
	height: 8px;
	position:absolute;
	left: 0;
	margin-top: 8px;
}
.steckbrief .text .name {
	margin-top: 0px;
    font-weight: bold;
    letter-spacing: 2px;
}
.steckbrief .text a {
	text-decoration: none;
	color: #00ccff;;
}
.steckbrief .text a:hover {
	color: rgba(81, 220, 255, 1);
}
.cta.button {
	background-color: #00ccff;
	padding: 21px;
	margin: 15px 0 0 0;
	border-radius: 11px;
	display: inline-block;
	color: black !important;
}
.cta.button:hover {
	background-color: rgba(81, 220, 255, 1);
}
.steckbrief .text .sprache,
.steckbrief .text .familienstand
 {
	margin-top: 12px;
}
.content:first-child {
	margin-top:126px;
}
.content {
	background-color: white;
	color: #333;
	padding: 50px 0 76px 0;
}
.content:nth-child(2n) {
	background-color: black;
	color: #eee;
	margin: 0;
	padding-top: 50px;
	padding-bottom: 76px;
	
}
.content h2 {
	display: block;
	color:black;
	clear:both;
	letter-spacing: 1px;
	font-size: 2rem;
	position: relative;
	width: 900px;
	font-weight: bolder;
}
.content:nth-child(2n) h2 {
	color: white;
}
.content h2 a {
	display:block;
	padding: 33px 0 29px 0;
	font-size: 220%;
	
}
.content .skills .flex {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	width: 140%;
	padding: 0;
}
.skill.box {
	width: 40%;
	background-color: black;
	border-radius: 20px;
	border: 5px solid #A0A0A0;
	color: white;
	font-size: 120%;
	padding: 20px;
	box-sizing: content-box;
}
.skill.box ul {
	margin-top: 20px;
}
.skill.box li {
	margin: 10px 20px;
}
.skill.box li:before {
	background-color: white;
	top: 10px;
}
.skill.box h3 {
	text-align: center;
	font-size: 150%;
}
.bigicon {
	font-size: 300%;
	text-align: center;
	display: block;
	margin-bottom: 30px;
}
section li {
	padding-left: 20px;
	position: relative;
}
section li:before {
	content: "";
	width: 10px;
	height: 10px;
	background-color: black;
	position: absolute;
	left: 0;
	top: 5px;
}

section > article {
	max-width: 800px;
	margin: 0 auto;
}

section dl {
    display: flex; 
	flex-wrap: nowrap;
    padding: 0 0 22px 0;
	line-height: 1.7;
}
section dd, section dt {
	float:left;
}
section dt {
	clear: both;
	width: 200px;
}
section dd {
    margin: 0 0 0 2px;
    width: 500px;
	font-size: 15px;
	letter-spacing: 1px;
}
section dd b {
	display:block;
	width:500px;
	margin: -4px 0 0 0;
	letter-spacing: 1px;
}
b {
	font-weight: bold;
}



.project-tile img {
	width: 175px;
    margin: 0 0 0 30px;
    height: 153px;
}
.project-tile img:hover {
	opacity: 0.8;
}